.ws-btn {
    height: 45px;
    width: 45px;
    background: rgba(103, 111, 255, 0.1);
    border: 1px solid #676FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ws-btn img {
    width: 19px; 
}